.notes {
    width: 80%;
    margin: 35px 0;
}

.notesTableRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 5px;

    border-radius: 5px;
    padding: 8px;
    text-align: center;
    margin-top: 5px;
    font-size: 23px;
}

.grayRow {
    background-color:rgb(153, 153, 153);
    color: white;
}

.blueRow {
    background-color:rgb(215, 230, 255);
    color: gray
}

.bigItem {
    grid-column: span 2;
}

.notes h2 {
    text-align: center;
}
